
= render 'review/raty'

.review
  .new_review
    = form_for @review do |f|
      = f.hidden_field :restaurant_id, value: @restaurant.id
      #star
        = f.hidden_field :comment, id: :review_star
      #comment
        = f.text_field :comment, class: "form-control_1", placeholder: "50文字まで"
        .comment-btn
          = f.submit 'コメント', class: "submit-btn"
      

      :javascript
        $(document).on('turbolinks:load', function initialize() {
            $('#star').raty({
              size:     36,
              starOff:  '#{asset_path('star-off.png')}',
              starOn:  '#{asset_path('star-on.png')}',
              starHalf: '#{asset_path('star-half.png')}',
              scoreName: 'review[star]',
              half: true,
            });
          })

      

.review-text
  .review-text-box
    .review-text-box-1
      - @reviews.each do |r|
        .review-text-box-each
          .review-text-box-name
            #{r.user.name} さん
            .review-text-star
            = image_tag "star-on.png", class: "star-on"
            = r.star
            .review-text-comment
              = r.comment
            .review-text-delete
            - if user_signed_in? && current_user.id == r.user_id
              = link_to "削除", review_path(r), method: :delete 
            