
= render 'review/raty'

.review
  = form_for @review do |f|
    = f.hidden_field :restaurant_id, value: @restaurant.id
    #star
      = f.hidden_field :comment, id: :review_star
    #comment
      = f.text_field :comment, class: "text-field"
    

    :javascript
      $(document).on('turbolinks:load', function() {
        jQuery(function($){
          $('#star').raty({
            size:     36,
            starOff:  '#{asset_path('star-off.png')}',
            starOn:  '#{asset_path('star-on.png')}',
            starHalf: '#{asset_path('star-half.png')}',
            scoreName: 'review[star]',
            half: true,
          });
        });
      })

    = f.submit 'コメント', class: "submit-btn"

.review-text
  .review-text-box
    .review-text-box-1
      - @reviews.each do |r|
        .review-text-box-each
          .review-text-box-name
            = r.user.name
          .review-text-comment
            = r.comment
          .review-text-comment
            = r.star