= render 'shared/header'
.welcome_message
  お店一覧

.coverpage_list
  .coverpage_list_search
    = form_with(url: root_path, local: true, method: :get, class: "search-form") do |form|
      = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
      = form.submit "検索", class: "search-btn"

  .coverpage_dinner_list
    - @restaurant.each do |o,i|
      %ul
      = link_to restaurant_path(o.id) do
        = image_tag o.images[0].image.url, class: "dinner_pics"
      .coverpage_dinner_list_box
        .coverpage_dinner_list_box_name
          = link_to restaurant_path(o) do
            = o.restaurant_name
        .coverpage_dinner_list_box_address
          = o.address
          .coverpage_dinner_list_box_genre
            %i.fas.fa-utensils
            = o.genre.name
          .coverpage_dinner_list_box_describe
            %i.fas.fa-comments
            = o.describe.truncate(100, separator: '.')