#header
  .header_name
    = link_to "Restaurants", root_path, class: "mainHeader"
    .header_user
      - if user_signed_in?
        #{current_user.name}さん
        = link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        = link_to "ログイン", new_user_session_path
        = link_to "新規登録", new_user_registration_path
