.header
  .pcHeader-headerInner
    .pcHeader-headerInner_mainHeader
    = link_to "Restaurant Book", root_path, class: "navbar-brand"
    .pcHeader-headerInner_mainHeader_submit
      %input.submit{type: "submit",value:"", class: "form__submit"}

  
      - if user_signed_in?
        %h2 名前： #{current_user.name}
        = link_to "ログアウト", destroy_user_session_path, method: :delete

        %ul
        %li= link_to "レストラン登録", new_restaurant_path
        
      - else
        %h2 現在ログインしていません
        = link_to "ログイン", new_user_session_path, class: 'post'
        = link_to "新規登録", new_user_registration_path, class: 'post'