= render 'shared/header'
.row
  .col-md-3
    %ul.sidebar-list
      %li.sidebar-item= link_to "レストラン登録", new_restaurant_path,  class: "sidebar-link active"
      %li.sidebar-item= link_to "レストラン登録履歴", new_restaurant_path,  class: "sidebar-link active"
      %li.sidebar-item= link_to "予約する", new_restaurant_path,  class: "sidebar-link active"
      %li.sidebar-item= link_to "予約履歴", new_restaurant_path,  class: "sidebar-link active"
      %li.sidebar-item= link_to "レビューを書く", new_restaurant_path,  class: "sidebar-link active"
  .col-md-9
    .panel.panel-default
      .panel-heading
        Listings
      .panel-body
        -# - @rooms.each do |room|
          .row
            .col-md-2
              = image_tag room.cover_photo(:thumb)
            .col-md-7
              %h4= room.listing_name
            .col-md-3.right
              = link_to "Update", listing_room_path(room), class: "btn btn-form"
          %hr/
