= render 'shared/header'

.row
  .col-md-3
    = render 'restaurants/res_menu'
  .col-md-9
    .panel.panel-default
      .panel-heading
        料理 メニュー
      .panel-body
        = form_with model: @restaurant do |f|
          .form-group
          %label ジャンル
          = f.text_field :genre, class: "form-control"
          -# = f.collection_select :restaurant_id, @restaurant, :name, :name, prompt: "--"

          %label 住所
          = f.text_field :address, placeholder: "住所は?", class: "form-control"
            
          %label 電話番号
          = f.number_field :tel, placeholder: "電話番号?", class: "form-control"
          .text-center
            = f.submit "保存", class: "btn btn-form"
