= render 'shared/header'

.row
  .col-md-3
    = render 'restaurants/res_menu'
  .col-md-9
    .panel.panel-default
      .panel-heading
        店名  こだわり説明
      .panel-body
        = form_with model: @restaurant do |f|
          .form-group
            %label 店名
            = f.text_field :restaurant_name , placeholder: "店名をお願いします。", class: "form-control", required: true

          .form-group
            %label こだわり説明
            = f.text_area :describe, rows: 6, placeholder: "内容記載お願いします。", class: "form-control", required: true
          .text-center
            = f.submit "Save", class: "btn btn-form"
