= render 'shared/header'

.row
  .col-md-3
    = render 'restaurants/res_menu'
  .col-md-9
    .panel.panel-default
      .panel-heading
        平均価格　入力
      .panel-body
        = form_with model: @restaurant do |f|
          %label ランチ価格帯
          = f.number_field :average_price, placeholder: "料金入力", class: "form-control", step: "100"

          %label ディナー価格帯
          = f.number_field :average_price, placeholder: "料金入力", class: "form-control", step: "100"
          .text-center
            = f.submit "保存", class: "btn btn-form"
