= render 'shared/header'
.welcome_message
  お店一覧

.coverpage_list
  .coverpage_list_search
    = form_tag(search_restaurants_path,:method => 'get') do
      = text_field_tag :restaurant_name
      = submit_tag '検索', :name => nil

  .coverpage_dinner_list
    - @restaurant.each do |o|
      %ul
      = link_to restaurant_path(o) do
        = image_tag o.images[0].image.url, class: "dinner_pics"
      .coverpage_dinner_list_box
        .coverpage_dinner_list_box_name
          = link_to restaurant_path(o) do
            = o.restaurant_name
        .coverpage_dinner_list_box_address
          = o.address
          .coverpage_dinner_list_box_genre
            %i.fas.fa-utensils
            = o.genre.name
          .coverpage_dinner_list_box_describe
            %i.fas.fa-comments
            = o.describe.truncate(100, separator: '.')